@charset "UTF-8";
a {
	background-color: #972022;
	color: #FFFFFF;
	font-family: diplomata;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}
a:hover {
	background-color: #972022;
	color: #FF0004;
}
h1 {
	background-color: #FF0004;
	text-align: center;
	letter-spacing: 80px;
	font-family: diplomata;
	font-style: normal;
	font-weight: 400;
	color: #450000;
}
h1:hover {
	background-color: #FF0004;
	text-align: center;
	letter-spacing: 80px;
	font-family: diplomata;
	font-style: normal;
	font-weight: 400;
	color: #FAFAFA;
}
body {
	background-color: #440000;
	color: #FFFFFF;
}
.spacer {
	height: 100px;
}
.round {
	border-radius: 50px;
	max-width: 100px;
}
h4 {
	color: #FFFFFF;
}
.img-fluid.round:hover {
	background-color: #000000;
	font-family: atomic-age;
	font-style: normal;
	font-weight: 400;
}
img {
    margin: auto;
    display: block;
}
metmuseum {
}
